<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7da4a3">  <td>19/06/10 11:15:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhotosAPITests.loadSpecs()[pri:0, instance:com.restassure.tests.PhotosAPITests@74d1dc36]">&gt;&gt;loadSpecs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1241529534</td>   <td></td> </tr>
<tr bgcolor="7da4a3">  <td>19/06/10 11:15:56</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhotosAPITests.getAllPhotosTest()[pri:0, instance:com.restassure.tests.PhotosAPITests@74d1dc36]">getAllPhotosTest</td> 
  <td>main@1241529534</td>   <td></td> </tr>
</table>
