<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e471">  <td>19/06/05 15:27:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhotosAPITests.getAllPhotosTest()[pri:0, instance:com.restassure.tests.PhotosAPITests@247310d0]">getAllPhotosTest</td> 
  <td>main@1848125895</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>19/06/05 15:28:01</td>   <td>3647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhotosAPITests.getSpecificPhotoTest()[pri:1, instance:com.restassure.tests.PhotosAPITests@247310d0]">getSpecificPhotoTest</td> 
  <td>main@1848125895</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>19/06/05 15:27:57</td>   <td>-1009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhotosAPITests.loadSpecs()[pri:0, instance:com.restassure.tests.PhotosAPITests@247310d0]">&gt;&gt;loadSpecs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848125895</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>19/06/05 15:28:02</td>   <td>4250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhotosAPITests.updateSpecificPhotoTest()[pri:2, instance:com.restassure.tests.PhotosAPITests@247310d0]">updateSpecificPhotoTest</td> 
  <td>main@1848125895</td>   <td></td> </tr>
</table>
